@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding:0;
    margin:0;
}
.grid-container-header {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 80% 120% 40%;
 }
.grid-item-header {
    padding-bottom: 4%;
    padding-top: 4%;
    text-align: center;
}
#header_cabecario_h1 {
    background-color: #080808;
}
#header_cabecario_h1 img{
    width: 8.5rem;

    vertical-align: bottom;
}
#header_cabecario_h1 span{
    font-family: 'Noto Serif', sans-serif;    
    font-size: 3.5rem;
}
#header_titulo {
    padding-top: 1em;
}
#form-header-busca{
    padding-top: 2.4em;
}
#form-header-busca input{
    border-radius: 10%;
}
#header_nav {
    background-color: #252525f1;
    list-style-type: none;

}
#header_nav ul {
    overflow: hidden;
    background-color: #340016;
}
#header_nav li {
    display: inline;
    float: left;

}
#header_nav li a {
    text-decoration: none;
    display: block;
    padding: 25px 30px;
    font-size: 1.2rem;

}
#header_nav a, #header_nav a:link {
    background-color: #340016;
    color: #d43b2d;
    text-align: center;
    text-decoration: none;
  }

#header_nav a:hover {
    text-decoration: none;
    border-bottom: 1px solid #d43b2d;
    color: #fe6c2b;
}
#header_nav a:active {
    text-decoration: none;
}
.dropdown_header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
}
.dropdown_header li{
    float: left;
}
.dropdown_header li a {
    text-decoration: none;
    padding: 6px 16px;
    display: block;
}
.conteudo_dropdown_header {
    display: none;
    position: absolute;
    min-width: 100px;
}
.conteudo_dropdown_header li{
    float: none;
}
.conteudo_dropdown_header a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown_header:hover .conteudo_dropdown_header {
    display: block;
} 
  
    

    