@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding:0;
    margin:0;
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    #mobile-nav-full{
        display: none;
    }
    .grid-container-header {
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: 95% 100% 50%;
        align-items: center;
        margin-left: 0.5em;
        background-color: #080808;
     }
     #h1-index-us{
        margin-top: 1em;
        text-align: center;
     }
    .grid-item-header {
        align-items: center;
        text-align: center;
        padding-left: 4.0;
    }
    #header_cabecario_h1 img{
        width: 8.5rem;
        vertical-align: bottom;
        padding-top: 0.5em;
    }
    #header_cabecario_h1 span{
        font-family: 'Noto Serif', sans-serif;    
        font-size: 3rem;
        margin-left: 2%;
        color: #dadadad5;
        border:none;
    }
    #form-header-busca{
        width: 110%;
    }
    #form-header-busca label{
        display: block;
    }
    #header_nav {
        background-color: #252525f1;
        list-style-type: none;
    }
    #header_nav ul {
        overflow: hidden;
        background: linear-gradient(to right,  rgba(0, 0, 0, 1) 45%,
        rgba(157, 60, 20, 0.75));
        box-shadow: 0 1.4rem 9rem rgba(0.0.0.3); 
    }
    #header_nav li {
        display: inline;
        float: left;
    }
    #header_nav li a {
        text-decoration: none;
        display: block;
        padding: 22px 30px;
        font-size: 1.2rem;
    
    }
    #header_title{
        border: none;
        text-decoration: none;
        transition: 1s;
    }
    #header_title span:hover{
        color: #fe6a2bc5;
        filter: opacity(0.9) drop-shadow(0 0 0 rgb(211, 95, 0)); 
    }
    #header_img img:hover{
        filter: grayscale(80%); 
        filter: brightness(5);	
    }
    #header_nav a, #header_nav a:link {
        background-color: transparent;
        color: #dadada;
        text-align: center;
        text-decoration: none;
    }
    #header_nav a:hover {
        text-decoration: none;
        background-color: transparent;
        color: #fff;
        border-bottom: 2px inset #fff;
    }
    #header_nav a:active {
        text-decoration: none;
        color: #fff;
        border-bottom: 2px inset #fff;
    }
    .dropdown_header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: visible;
        text-decoration: none;
    }
    .dropdown_header li{
        float: left;
    }
    .dropdown_header li a {
        text-decoration: none;
        padding: 6px 16px;
        display: block;
    }
    .conteudo_dropdown_header {
        display: none;
        position: absolute;
        min-width: 100px;
        z-index: 3;
        background-color: #311409;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .conteudo_dropdown_header li{
        float: none;
        background-color: #311409;     
    }
    .conteudo_dropdown_header a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown_header:hover .conteudo_dropdown_header {
        display: block;
    } 
    #search_header {
        width: 60%;
        background-color: transparent;
        color: #fff;
        border: #dadadaef 2px solid;
        border-radius: 2px;
        font-size: 0.6em;
        padding: 5px;
        margin-top: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        transition: 0.5s;
      }
    #search_header:focus {
        color: #dadada;
        background-color: transparent;
        outline: 0;
        background-size: 100% 2p;
        border-bottom:#fe6c2b 2px solid;
    }
    #search_header::placeholder{
        color: #dadadad5;
    }
 }
 
 @media all and (min-width: 481px) and (max-width:1023px){

    .grid-container-header {
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-rows: 30% 40%;
        align-items: center;
        background-color: #080808;
     }
     #h1-index-us{
        margin-top: 1em;
        text-align: center;
     }
    .grid-item-header {
        align-items: center;
        text-align: center;
        padding-left: 4.0;
    }
    #header_cabecario_h1 img{
        width: 7.5rem;
        vertical-align: bottom;
        padding-top: 0.6em;
    }
    #header_cabecario_h1 span{
        font-family: 'Noto Serif', sans-serif;    
        font-size: 2rem;
        color: #dadadad5;
        border:none;
        text-align: center;

    }
    #form-header-busca{
        padding-top: 0.2em;
        margin-bottom: 1rem;

    }
    #form-header-busca label{
        display: block;
    }
    #form-header-busca input{
        width: 140%; 
        margin-left: 15%;   
    }

    #header_title{
        border: none;
        text-decoration: none;
        transition: 1s;
    }
    #header_title span:hover{
        color: #fe6a2bc5;
        filter: opacity(0.9) drop-shadow(0 0 0 rgb(224, 101, 0)); 
    }
    #header_img img:hover{
        filter: grayscale(80%); 
        filter: brightness(5);	
    }
    #mobile-nav-full nav, ul {
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }
    #us{
        flex-direction: column;
        align-items: center;        
        text-align: center;
    }
    #mobile-nav-full nav {
        align-items: center;
        padding: 5 15px;
    }
    #mobile-nav-full ul{
        list-style: none;
        padding: 5 5;
        text-align: center;
        margin: 1em;
        height: 0%;
        overflow: hidden;
    }

    #mobile-nav-full li{
        padding: 5 20px;
        background-color: transparent;
    }
    #mobile-nav-full li:hover{
        border-bottom: inset 1px #fe6c2b;  
    }
    #mobile-nav-full a{
        font-size: 1.2rem;
        padding: 5 20px;
        color: #dadada;
        text-decoration: none;
    }
    #botao_sair{
        background-color: transparent;
        border: none;  
       }
    #botao_sair a {
        position: absolute; 
        top: 0.8rem;
        right: 1.7rem;
        background-color: transparent;
        border: none;  
        color: #dadada;
        font-size: 1.5rem;
    }
    #botao_sair a:hover {
        background-color: transparent;
        border: none;  
        color: #dadada;
        font-size: 1.5rem;
    }
    #mobile-nav-full a:hover{
        padding: 0 20px;
        color: #fe6c2b;
        text-decoration: none;
    }
    #mobile-nav-full ul, li{
        width: 100%;
    }
 
    #mobile-nav-full button {
        background-color: transparent;
        border: none;  
        color: #dadada;
        font-size: 2.5rem;
        position: absolute;
        right: 1.7rem;
        top: 8.8rem;
        display: flex;
        transition: 0.9s;
    }
    #mobile-nav-full button:hover{
        color: #fe6c2b;
        cursor: pointer;
    }
    #mobile-nav-full button:focus ~ ul{
        height: 330px;
    }


    #mobile-nav-full button:focus {
        color: #fe6c2b;
    }
    #search_header {
        width: 60%;
        background-color: transparent;
        color: #fff;
        border: #dadadaef 2px solid;
        border-radius: 2px;
        font-size: 0.6em;
        margin-top: -0.5em;
        padding: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        transition: 0.5s;
      }
      #desktop-nav{
        display: none;
      }
    #search_header:focus {
        color: #dadada;
        background-color: transparent;
        outline: 0;
        background-size: 100% 2p;
        border-bottom:#fe6c2b 2px solid;
    }
    #search_header::placeholder{
        color: #dadadad5;
    }

 }
 @media all and (max-width: 480px){
    .grid-container-header {
        display: grid;
        grid-template-columns: 40% auto;
        grid-template-rows: 30% 40%;
        align-items: center;
        background-color: #080808;
     }
     #h1-index-us{
        margin-top: 1em;
        text-align: center;
     }
    .grid-item-header {
        align-items: center;
        text-align: center;
        padding-left: 0;
    }
    #header_cabecario_h1 img{
        width: 7.5rem;
        vertical-align: bottom;
        padding-top: 0.6em;
    }
    #header_cabecario_h1 span{
        font-family: 'Noto Serif', sans-serif;    
        font-size: 1.5rem;
        color: #dadadad5;
        border:none;
        text-align: center;

    }
    #form-header-busca{
        padding-top: 0.4em;
        margin-bottom: 1rem;

    }
    #form-header-busca label{
        display: block;
    }
    #form-header-busca input{
        width: 140%; 
        margin-left:14.8%;   
    }
    #header_title{
        border: none;
        text-decoration: none;
        transition: 1s;
    }
    #header_title span:hover{
        color: #fe6a2bc5;
        filter: opacity(0.9) drop-shadow(0 0 0 rgb(224, 101, 0)); 
    }
    #header_img img:hover{
        filter: grayscale(80%); 
        filter: brightness(5);	
    }
    #mobile-nav-full nav, ul {
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }
    #us{
        flex-direction: column;
        align-items: center;        
        text-align: center;
    }
    .marketing{
        margin-top: 6em;
    }
    #mobile-nav-full nav {
        align-items: center;
        padding: 0 0;
    }
    #mobile-nav-full ul{
        list-style: none;
        padding: 0 0;
        text-align: center;
        margin: 1em;
        height: 0%;
        overflow: hidden;
    }

    #mobile-nav-full li{
        padding: 4 20px;
        background-color: transparent;
    }
    #mobile-nav-full a{
        font-size: 1.2rem;
        padding: 5 20px;
        color: #dadada;
        text-decoration: none;
    }
    #botao_sair{
        background-color: transparent;
        border: none;  
       }
    #botao_sair a {
        position: absolute; 
        top: 0.8rem;
        right: 1.7rem;
        background-color: transparent;
        border: none;  
        color: #dadada;
        font-size: 1.5rem;
    }
    #botao_sair a:hover {
        background-color: transparent;
        border: none;  
        color: #dadada;
        font-size: 1.5rem;
    }
    #mobile-nav-full a:hover{
        padding: 0 20px;
        color: #fe6c2b;
        text-decoration: underline;
    }
    #mobile-nav-full ul, li{
        width: 100%;
    }
 
    #mobile-nav-full button {
        background-color: transparent;
        border: none;  
        color: #dadada;
        font-size: 2.5rem;
        position: absolute;
        right: 1.7rem;
        top: 8.8rem;
        display: flex;
        transition: 0.9s;
    }
    #mobile-nav-full button:hover{
        color: #fe6c2b;
        cursor: pointer;
    }
    #mobile-nav-full button:focus ~ ul{
        height: 300px;
    }


    #mobile-nav-full button:focus {
        color: #fe6c2b;
    }
    #search_header {
        width: 60%;
        background-color: transparent;
        color: #fff;
        border: #dadadaef 2px solid;
        border-radius: 2px;
        font-size: 0.6em;
        margin-top: -0.5em;
        padding: 5px;
        border-top: none;
        border-left: none;
        border-right: none;
        transition: 0.5s;
      }
      #desktop-nav{
        display: none;
      }
    #search_header:focus {
        color: #dadada;
        background-color: transparent;
        outline: 0;
        background-size: 100% 2p;
        border-bottom:#fe6c2b 2px solid;
    }
    #search_header::placeholder{
        color: #dadadad5;
    }

 }


 @media all and (min-width: 1280px){
    #mobile-nav-full{
        display: none;
    }
    .grid-container-header {
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: 95% 100% 50%;
        align-items: center;
        margin-left: 0.5em;
        background-color: #080808;
     }
     #h1-index-us{
        margin-top: 1em;
        text-align: center;
     }
    .grid-item-header {
        align-items: center;
        text-align: center;
        padding-left: 4.0;
    }
    #header_cabecario_h1 img{
        width: 8.5rem;
        vertical-align: bottom;
        padding-top: 0.5em;
    }
    #header_cabecario_h1 span{
        font-family: 'Noto Serif', sans-serif;    
        font-size: 3rem;
        margin-left: 2%;
        color: #dadadad5;
        border:none;
    }
    #form-header-busca{
        width: 110%;
    }
    #form-header-busca label{
        display: block;
    }
    #header_nav {
        background-color: #252525f1;
        list-style-type: none;
    }
    #header_nav ul {
        overflow: hidden;
        background: linear-gradient(to right,  rgba(0, 0, 0, 1) 45%,
        rgba(157, 60, 20, 0.75));
        box-shadow: 0 1.4rem 9rem rgba(0.0.0.3); 
    }
    #header_nav li {
        display: inline;
        float: left;
    }
    #header_nav li a {
        text-decoration: none;
        display: block;
        padding: 22px 30px;
        font-size: 1.2rem;
    
    }
    #header_title{
        border: none;
        text-decoration: none;
        transition: 1s;
    }
    #header_title span:hover{
        color: #fe6a2bc5;
        filter: opacity(0.9) drop-shadow(0 0 0 rgb(224, 101, 0)); 
    }
    #header_img img:hover{
        filter: grayscale(80%); 
        filter: brightness(5);	
    }
    #header_nav a, #header_nav a:link {
        background-color: transparent;
        color: #dadada;
        text-align: center;
        text-decoration: none;
    }
    #header_nav a:hover {
        text-decoration: none;
        background-color: transparent;
        color: #ffff;
        border-bottom: 2px inset #fff;
    }
    #header_nav a:active {
        text-decoration: none;
        color: #fff;
        border-bottom: 2px inset #fff;
    }
    .dropdown_header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: visible;
        text-decoration: none;
    }
    .dropdown_header li{
        float: left;
    }
    .dropdown_header li a {
        text-decoration: none;
        padding: 6px 16px;
        display: block;
    }
    .conteudo_dropdown_header {
        display: none;
        position: absolute;
        min-width: 100px;
        z-index: 3;
        background-color: #230f06;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .conteudo_dropdown_header li{
        float: none;
        background-color: #230f06;

    }
    .conteudo_dropdown_header a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .dropdown_header:hover .conteudo_dropdown_header {
        display: block;
    } 
    #search_header {
        width: 60%;
        background-color: transparent;
        color: #fff;
        border: #dadadaef 2px solid;
        border-radius: 2px;
        font-size: 0.6em;
        padding: 5px;
        margin-top: 10px;
        border-top: none;
        border-left: none;
        border-right: none;
        transition: 0.5s;
      }
    #search_header:focus {
        color: #dadada;
        background-color: transparent;
        outline: 0;
        background-size: 100% 2p;
        border-bottom:#fe6c2b 2px solid;
    }
    #search_header::placeholder{
        color: #dadadad5;
    }
 }


 