@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding:0;
    margin:0;
}
.grid-container-footer {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 80% 110% 40%;
 }
.grid-item-footer {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 27%;
}
.grid-container-footer-info {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-area: footer;
 }
.grid-item-footer-info {
    text-align: center;
}
#footer_h1 {
    background-color: #080808;
}
#footer_h1 span {
    font-family: 'Noto Serif', sans-serif;
    font-size: 3rem;
    padding-top: 15%;
}
#footer_h1 img{
    width: 6rem;
    vertical-align: bottom;
}
#footer_titulo {
    padding-top: 1em;
}
#form-footer-busca{
    padding-top: 3.3em;
}
#form-footer-busca input{
    border-radius: 10%;
}
#footer_nav {
    background-color: #252525f1;
    list-style-type: none;

}
#footer_nav ul {
    overflow: hidden;
    background-color: #340016;
}
#footer_nav li {
    display: inline;
    float: left;
}
#footer_nav li a {
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    font-size: 1.2rem;

}
#footer_nav a, #footer_nav a:link, #footer_nav a:visited {
    background-color: #340016;
    color: #d43b2d;
    text-align: center;
    text-decoration: none;
}

#footer_nav a:hover {
    text-decoration: none;
    border-bottom: 1px solid #d43b2d;
    color: #fe6c2b;
}
#footer_nav a:active {
    text-decoration: none;
    color: #340016;
    background-color: #d43b2d;
    border-bottom: 0px solid #d43b2d;

}
.dropdown_footer ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
.dropdown_footer li{
    float: left;
}
.dropdown_footer li a {
    text-decoration: none;
    padding: 6px 16px;
    display: block;
}
.conteudo_dropdown_footer {
    display: none;
    position: absolute;
    min-width: 100px;
}
.conteudo_dropdown_footer li{
    float: none;
}
.conteudo_dropdown_footer a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown_footer:hover .conteudo_dropdown_footer {
    display: block;
} 