@media all and (min-width: 1024px) and (max-width: 1280px) { 
  #formSuporte {
    grid-template-columns: auto auto auto ;
    grid-template-rows: 95% 100% 50%;
    align-items: center;
  }
  #file{
    margin-top: 1em;
  }
  #button-cadastrar-noticia{
    margin-top:1em;
    margin-bottom: 10em;
  }
  #link_novoregistro_login{
    margin-left: auto;
    margin-right: auto;
  }
  #img_seta{
    width: 1.3em;
    height: auto;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #080808;
  color: #dadada;
}

p {
  color: #dadada;  
  text-shadow:1px 1px #000000c5;

}
label {
  color: #dadada;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  text-shadow:3px 2px #000000af;
}

input, select, textarea {
  background-color: #000;
  color: #dadadad5 ;
}
textarea{
  padding-left: 0.4em;
  padding-top:0.5em;
}
#home_body .home, #filmes_body .filmes, #suporte_body .suporte{
  background-color: #000 ;
  color: #fe6c2b;
  border-bottom: 0.5px solid #fe6c2b;
}
#home_body .home:hover, #filmes_body .filmes:hover, #suporte_body .suporte:hover{
  color: #fe6c2b;
  border-bottom: 0.5px solid #fe6c2b;
}
#series_body .series, #games_body .games, #livros_body .livros, #hqs_body .hqs{
  background-color: #000 ;
  color: #fe6c2b;
  border-bottom: 0.5px solid #fe6c2b;
}
#series_body .series:hover, #games_body .games:hover, #livros_body .livros:hover, #hqs_body .hqs:hover{
  color: #fe6c2b;
  border-bottom: 0.5px solid #fe6c2b;
}
#carousel_next,#carousel_prev{
  background-color: #08080888 ;
}
#carousel_next:hover, #carousel_prev:hover{
  background-color: #080808b2 ;
}
#carousel_next:active{
  background-color: #080808b2 ;
}
.autor {
  color: #fff;
  padding-bottom: 15%;
}
#cadastro_nova_noticia{
  background-color:#fe6c2b;
  color: #dadada; 
}
#cadastro_nova_noticia:hover{
  color: #fff;
  background-color: #fe6c2b;
}
#cadastro_nova_noticia a{
  text-decoration: none;
  color: #dadada;
}
#cadastro_nova_noticia a:hover{
  color: #fff;
}
#busca_noticia_editar {
  width: 60%;
  color: #dadada;
  background-color: #080808;
  outline: 0;
  border-bottom:#dadada 1px solid;
  border-radius: 2px;
  font-size: 1em;
  padding: 5px;
  margin-top: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
}
#busca_noticia_editar:focus {
  color: #dadada;
  background-color: #080808;
  outline: 0;
  border-bottom:#fe6c2b 1px solid;
}
#busca_noticia_editar::placeholder{
  color: #dadadad5;
}
