@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #080808;
  color: #fe6c2b;
}

p {
  color: #d43b2d;
}
label {
  color: #d43b2d;
}
h1, h2, h3, h4, h5, h6 {
  color: #fe6c2b;
}
button {
  background-color: #340016;
  color: #d43b2d;
}
button:hover {
  color: #fe6c2b;
}
button:focus {
  background-color: #d43b2d;
  color: #340016;
}

input, select, textarea {
  background-color: #340016;
  color: #d43b2d;
}
input:focus {
  color: #340016;
  background-color: #d43b2d;
}

input[type="submit"]:focus {
  color: #340016;
  background-color: #d43b2d;
}

#home_body .home, #filmes_body .filmes, #suporte_body .suporte{
  background-color: #d43b2d;
  color: #340016;
}
#home_body .home:hover, #filmes_body .filmes:hover, #suporte_body .suporte:hover{
  color: #340016;
}
#series_body .series, #games_body .games, #livros_body .livros, #hqs_body .hqs{
  background-color: #d43b2d;
  color: #340016;
}
#series_body .series:hover, #games_body .games:hover, #livros_body .livros:hover, #hqs_body .hqs:hover{
  color: #340016;
}
