body{
    background-color:#343338;
    color: #FAE53C;
}

p {
    color: #FAE53C;
}
label {
    color: #FAE53C;
}
h1, h2, h3, h4, h5, h6 {
    color: #FAE53C;
}
button {
    background-color: #3213AD;
    color: #AD9D18;
}
button:hover {
    color: #FAE53C;
}
button:focus{
    background-color: #AD9D18;
    color: #3213AD;
}
input, select, textarea {
    background-color: #3213AD;
    color: #AD9D18;
}
input:focus {
    color: #FAE53C;
    background: #3213AD;
}

input[type=submit]:focus{
    color: #3213AD;
    background: #FAE53C;
}

a {
    background-color: #3213AD;
    color: #AD9D18;

}
a:link, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #FAE53C;
    
}
a:active {
	text-decoration:none;
    color: #3213AD;
}



